.btn, html, .login__form h1, .login__form p {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400; }

.btn {
  font-weight: 600; }

.scanner__count {
  font-family: 'gnuolane', sans-serif;
  font-weight: 400;
  letter-spacing: 0.09rem;
  text-transform: uppercase; }

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  height: 100%;
  overflow-y: scroll; }

body {
  margin: 0;
  height: 100%;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column; }

*, *:before, *:after {
  box-sizing: inherit; }

[tabindex="-1"]:focus {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1rem; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

address {
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

figure {
  margin: 0 0 1rem; }

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

[role="button"] {
  cursor: pointer; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }
  label abbr[title="required"] {
    border-bottom: none; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }
  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none; }

input.full {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid #ccc; }

textarea {
  resize: vertical; }
  textarea.full {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border-color: #ccc; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none; }

a {
  color: #ad9885; }
  a:hover, a:focus {
    color: #000; }

hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: 0;
  border-top: 1px solid #ccc; }

.hidden {
  display: none; }

.layout {
  flex-grow: 1;
  box-sizing: content-box;
  padding: 5rem 5rem 0; }
  .layout *, .layout *:before, .layout *:after {
    box-sizing: border-box; }
  .layout--full-bleed {
    padding: 0; }
  .layout--success {
    background-color: #328760; }
  .layout--error {
    background-color: #cb2026; }
  .layout--welcome {
    position: relative;
    padding: 4rem;
    background-color: #ad9885; }
  .layout__footer {
    position: relative; }

.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .gallery:after {
    content: " ";
    display: block;
    clear: both; }
  .gallery--two > * {
    margin-bottom: 1.5rem; }
    @media (min-width: 48rem) {
      .gallery--two > * {
        width: 48.57143%;
        float: left;
        margin: 0 0 2.85714% 0; }
        .gallery--two > *:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--two > *:nth-child(2n + 2) {
          margin-left: 51.42857%;
          margin-right: -100%;
          clear: none; } }
  .gallery--three > * {
    margin-bottom: 1.5rem; }
    @media (min-width: 23rem) {
      .gallery--three > * {
        width: 48.57143%;
        float: left;
        margin: 0 0 2.85714% 0; }
        .gallery--three > *:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--three > *:nth-child(2n + 2) {
          margin-left: 51.42857%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 62rem) {
      .gallery--three > * {
        width: 31.42857%;
        float: left; }
        .gallery--three > *:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--three > *:nth-child(3n + 2) {
          margin-left: 34.28571%;
          margin-right: -100%;
          clear: none; }
        .gallery--three > *:nth-child(3n + 3) {
          margin-left: 68.57143%;
          margin-right: -100%;
          clear: none; } }
  .gallery--four > * {
    margin-bottom: 1.5rem; }
    @media (min-width: 23rem) {
      .gallery--four > * {
        width: 48.57143%;
        float: left;
        margin: 0 0 2.85714% 0; }
        .gallery--four > *:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--four > *:nth-child(2n + 2) {
          margin-left: 51.42857%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 48rem) {
      .gallery--four > * {
        width: 31.42857%;
        float: left; }
        .gallery--four > *:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--four > *:nth-child(3n + 2) {
          margin-left: 34.28571%;
          margin-right: -100%;
          clear: none; }
        .gallery--four > *:nth-child(3n + 3) {
          margin-left: 68.57143%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 62rem) {
      .gallery--four > * {
        width: 22.85714%;
        float: left; }
        .gallery--four > *:nth-child(4n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--four > *:nth-child(4n + 2) {
          margin-left: 25.71429%;
          margin-right: -100%;
          clear: none; }
        .gallery--four > *:nth-child(4n + 3) {
          margin-left: 51.42857%;
          margin-right: -100%;
          clear: none; }
        .gallery--four > *:nth-child(4n + 4) {
          margin-left: 77.14286%;
          margin-right: -100%;
          clear: none; } }
  .gallery--six > * {
    margin-bottom: 1.5rem; }
    @media (min-width: 34rem) {
      .gallery--six > * {
        width: 31.42857%;
        float: left;
        margin: 0 0 2.85714% 0; }
        .gallery--six > *:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--six > *:nth-child(3n + 2) {
          margin-left: 34.28571%;
          margin-right: -100%;
          clear: none; }
        .gallery--six > *:nth-child(3n + 3) {
          margin-left: 68.57143%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 48rem) {
      .gallery--six > * {
        width: 31.42857%;
        float: left; }
        .gallery--six > *:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--six > *:nth-child(3n + 2) {
          margin-left: 34.28571%;
          margin-right: -100%;
          clear: none; }
        .gallery--six > *:nth-child(3n + 3) {
          margin-left: 68.57143%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 62rem) {
      .gallery--six > * {
        width: 14.28571%;
        float: left; }
        .gallery--six > *:nth-child(6n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .gallery--six > *:nth-child(6n + 2) {
          margin-left: 17.14286%;
          margin-right: -100%;
          clear: none; }
        .gallery--six > *:nth-child(6n + 3) {
          margin-left: 34.28571%;
          margin-right: -100%;
          clear: none; }
        .gallery--six > *:nth-child(6n + 4) {
          margin-left: 51.42857%;
          margin-right: -100%;
          clear: none; }
        .gallery--six > *:nth-child(6n + 5) {
          margin-left: 68.57143%;
          margin-right: -100%;
          clear: none; }
        .gallery--six > *:nth-child(6n + 6) {
          margin-left: 85.71429%;
          margin-right: -100%;
          clear: none; } }

.input {
  display: block;
  width: 100%;
  padding: 0.45em 0.5em;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc; }
  .input__select {
    position: relative; }
    .input__select:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 10px;
      height: 15px;
      width: 15px;
      background: transparent image-url("svgs/arrow-down.svg") no-repeat right center;
      background-size: 15px; }
  .input--sm {
    font-size: 0.8rem; }
  .input--lg {
    font-size: 1.13rem; }
  .input--xl {
    font-size: 1.3rem; }
  .input--error {
    border-color: #cb2026; }
  .input--success {
    border-color: #328760; }
  .input.search {
    height: 40px; }

select.input {
  appearance: none; }

.btn {
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: #000;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 0.45em 1.4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s ease;
  vertical-align: middle; }
  .btn--sm {
    font-size: 0.8rem; }
  .btn--lg {
    font-size: 1.13rem; }
  .btn--xl {
    font-size: 1.3rem; }
  .btn--block {
    display: block;
    width: 100%; }
  .btn--to-top {
    margin: 0 0 1rem 1rem;
    height: 5rem;
    width: 5rem;
    float: right;
    background-color: #f2f2f2;
    border-radius: 50%;
    font-size: 0.7rem;
    text-align: center;
    color: #b7b7b7; }
    .btn--to-top div {
      position: relative; }
    .btn--to-top:hover .svg__arrow .a {
      stroke: #000; }
    .btn--to-top .svg {
      transition: stroke 0.25s ease;
      transform: rotate(-90deg); }
    .btn--to-top .centered {
      position: absolute;
      left: 50%;
      margin: 0;
      transform: translate(-50%); }
  .btn--disabled, .btn[disabled] {
    cursor: not-allowed;
    opacity: 0.65; }
  .btn img {
    display: inline-block; }
  .btn .svg {
    display: inline-block;
    fill: currentColor;
    stroke: currentColor;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-top: -0.2em; }

.btn--link {
  border: none;
  color: #ad9885;
  padding: 0;
  text-decoration: underline; }
  .btn--link:hover, .btn--link:focus {
    background-color: transparent;
    color: #000; }

.btn--clear {
  background-color: transparent;
  border-color: #fff;
  color: #fff; }
  .btn--clear:hover, .btn--clear:focus {
    background-color: transparent;
    border-color: #000;
    color: #000; }

.btn--clear-text-only {
  background-color: transparent;
  border-color: transparent;
  color: #fff; }
  .btn--clear-text-only:hover, .btn--clear-text-only:focus {
    background-color: transparent;
    border-color: transparent;
    color: #000; }

.btn--default {
  background-color: #fff;
  border-color: #000;
  color: #000; }
  .btn--default:hover, .btn--default:focus {
    background-color: #000;
    border-color: #000;
    color: #fff; }

.btn--default-text-only {
  background-color: transparent;
  border-color: transparent;
  color: #000; }
  .btn--default-text-only:hover, .btn--default-text-only:focus {
    background-color: transparent;
    border-color: transparent;
    color: #fff; }

.btn--primary {
  background-color: #000;
  border-color: #000;
  color: #fff; }
  .btn--primary:hover, .btn--primary:focus {
    background-color: #ad9885;
    border-color: #ad9885;
    color: #fff; }

.btn--primary-text-only {
  background-color: transparent;
  border-color: transparent;
  color: #fff; }
  .btn--primary-text-only:hover, .btn--primary-text-only:focus {
    background-color: transparent;
    border-color: transparent;
    color: #fff; }

.btn--error {
  background-color: #cb2026;
  border-color: #cb2026;
  color: #fff; }
  .btn--error:hover, .btn--error:focus {
    background-color: #fff;
    border-color: #cb2026;
    color: #cb2026; }

.btn--error-text-only {
  background-color: transparent;
  border-color: transparent;
  color: #fff; }
  .btn--error-text-only:hover, .btn--error-text-only:focus {
    background-color: transparent;
    border-color: transparent;
    color: #cb2026; }

.btn--success {
  background-color: #328760;
  border-color: #328760;
  color: #fff; }
  .btn--success:hover, .btn--success:focus {
    background-color: #fff;
    border-color: #328760;
    color: #328760; }

.btn--success-text-only {
  background-color: transparent;
  border-color: transparent;
  color: #fff; }
  .btn--success-text-only:hover, .btn--success-text-only:focus {
    background-color: transparent;
    border-color: transparent;
    color: #328760; }

.btn--sort {
  background-color: transparent;
  border-color: transparent;
  color: #000; }
  .btn--sort:hover, .btn--sort:focus {
    background-color: transparent;
    border-color: transparent;
    color: #ad9885; }

.btn--sort-text-only {
  background-color: transparent;
  border-color: transparent;
  color: #000; }
  .btn--sort-text-only:hover, .btn--sort-text-only:focus {
    background-color: transparent;
    border-color: transparent;
    color: #ad9885; }

.btn--callout {
  background-color: transparent;
  border-color: #ad9885;
  color: #ad9885; }
  .btn--callout:hover, .btn--callout:focus {
    background-color: transparent;
    border-color: #ad9885;
    color: #ad9885; }

.btn--callout-text-only {
  background-color: transparent;
  border-color: transparent;
  color: #ad9885; }
  .btn--callout-text-only:hover, .btn--callout-text-only:focus {
    background-color: transparent;
    border-color: transparent;
    color: #ad9885; }

.login__form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 2rem;
  padding: 2rem;
  width: 100vw;
  transform: translate(-50%, -50%);
  border: none;
  color: #fff; }
  @media (min-width: 48rem) {
    .login__form {
      padding: 2rem 4rem;
      width: 60vw;
      border: 1px solid #fff; } }
  .login__form h1 {
    font-weight: 200; }
  .login__form h1, .login__form p {
    text-align: center; }
  .login__form .svg__keyhole {
    display: block;
    margin: 0 auto 1rem;
    height: 4rem; }

.login__field {
  margin-bottom: 1rem; }

.scanner__header {
  position: static;
  padding: 1rem;
  background-color: #fff;
  z-index: 10;
  white-space: nowrap; }

.scanner__logo, .scanner__count {
  display: inline-block;
  vertical-align: middle;
  width: 50%; }

.scanner__count {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right; }

.scanner__bin, .scanner__item, .scanner__welcome {
  color: #fff; }

.scanner__welcome {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 200; }

.scanner__bin {
  font-size: 5rem;
  font-weight: 200; }

.scanner__item {
  font-size: 2.5rem;
  font-weight: 600; }
