<div class="login__form">
  <img class="svg svg__keyhole" src="images/svgs/keyhole.svg" alt="Keyhole">
  <h1>EBTH Bin Scanner</h1>
  <p>Please login in to start scanning</p>
  <div class="login__field">
      <label for="login">Login:</label>
      <input type="text" id="login" class="input" ng-model="login.params.login" />
  </div>
  <div class="login__field">
      <label for="pasword">Password:</label>
      <input type="password" id="password" class="input" ng-model="login.params.password" />
  </div>
  <div class="login__field">
      <button type="button" class="btn btn--clear" ng-click="login.submitLogin()">Login</button>
  </div>
</div>
