.layout {
  $b: &;

  flex-grow: 1;
  box-sizing: content-box;

  & *, & *:before, & *:after {
    box-sizing: border-box;
  }

  &--full-bleed {
    padding: 0;
  }

  &--success {
    background-color: $success;
  }

  &--error {
    background-color: $error;
  }

  &--welcome {
    position: relative;
    padding: 2rem;
    background-color: $brand-primary;
  }

  &__footer {
    position: relative;
  }
}
