.layout {
  $b: &;

  @include clearfix;
  box-sizing: content-box;
  max-width: 76rem;
  padding: 5rem;

  & *, & *:before, & *:after {
    box-sizing: border-box;
  }

  &--full-bleed {
    padding: 0;
  }

  &--success {
    background-color: $success;
  }

  &--error {
    background-color: $error;
  }

  &--welcome {
    background-color: $brand-primary;
  }

  &__footer {
    position: relative;
  }
}
