.login {

  &__form {
    padding: 2rem;
    width: 100vw;
    border: none;
    text-align: center;
    color: #fff;
    @include susy-breakpoint(md) {
      padding: 2rem 4rem;
      width: 50vw;
      text-align: left;
    }

    h1 { font-weight: 200; }

    h1, p {
      @extend %proxima-nova;
    }

    .svg__keyhole {
      display: block;
      margin-bottom: 1rem;
      height: 5rem;
    }
  }

  &__field {
    margin-bottom: 1rem;
  }
}
