.login {

  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

    h1 { font-weight: 200; }

    h1, p {
      @extend %proxima-nova;
    }

    .svg__keyhole {
      display: block;
      margin: 0 auto 1rem;
      height: 5rem;
    }
  }

  &__field {
    margin: 0 auto 1rem;
    text-align: left;
    max-width: 75vw;

    &.error input { border: 1px solid $error; }
  }
}
