%proxima-nova {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
}

%proxima-nova-black {
  font-family: 'proxima-nova' sans-serif;
  font-weight: 900;
}

%proxima-nova-bold {
  @extend %proxima-nova;
  font-weight: 600;
}

%gnuolane {
  font-family: 'gnuolane', sans-serif;
  font-weight: 400;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}

%freight-display-pro {
  font-family: 'freight-display-pro', serif;
  font-weight: 400;
}

@each $heading, $size in $headings {
  %h#{$heading} {
    font-size: $size;
  }
}

%list-reset {
  list-style-type: none;
  padding-left: 0;
}

%horizontal-list {
  @extend %list-reset;
  @include clearfix;

  & > li {
    float: left;
  }
}

%inline-list {
  @extend %list-reset;
  display: inline-block;

  & li {
    display: inline-block;
  }
}

%centered-inline-list {
  @extend %inline-list;
  text-align: center;
  min-width: 100%;
}

%two-col {
  margin-bottom: gutter();

  @include susy-breakpoint(md) {
    @include gallery(6);
  }
}

%three-col {
  margin-bottom: gutter();

  @include susy-breakpoint(md) {
    @include gallery(6);
  }

  @include susy-breakpoint(lg) {
    @include gallery(4);
  }
}

%four-col {
  margin-bottom: gutter();

  @include susy-breakpoint(md) {
    @include gallery(6);
  }

  @include susy-breakpoint(lg) {
    @include gallery(4);
  }

  @include susy-breakpoint(xl) {
    @include gallery(3);
  }
}

%muted {
  color: $muted;
}

%hidden {
  display: none !important;
}

%invisible {
  visibility: hidden !important;
}

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

%hyphenate {
  word-break: break-word;
  hyphens: auto;
}

%imgix {
  height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;

  &.loaded {
    height: auto;
    padding-bottom: 0;
    opacity: 1;
  }
}

%imgix-bg {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}
